<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:replace="this :: title">Flight System</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <nav>
        <div class="logo">
            <img th:src="@{/images/logo.png}" alt="logo">
        </div>
        <ul>
            <li><a th:href="@{/}">home</a></li>
            <li><a th:href="@{/flights}">flights</a></li>
            <!-- Check if the user is authenticated -->
            <li th:if="${#authentication.authenticated and #authentication.name != 'anonymousUser'}">
                <a href="#">Hello, <span th:text="${#authentication.name}">User</span></a>
            </li>
            <li th:if="${#authentication.authenticated and #authentication.name != 'anonymousUser'}">
                <a th:href="@{/logout}">logout</a>
            </li>

            <!-- Show Login/Register if the user is not authenticated -->
            <li th:if="${#authentication.name == 'anonymousUser'}">
                <a th:href="@{/login}">login</a>
            </li>
            <li th:if="${#authentication.name == 'anonymousUser'}">
                <a th:href="@{/register}">register</a>
            </li>
        </ul>
        <div class="search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </nav>
</header>
</body>
</html>